
<p-dialog [(visible)]="visible" [modal]="true"[closable]="false"[draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">

    <div class="wrapper">
      <div class="icon-container">
        <i class="pi pi-times-circle"></i>
      </div>
      <h1>No fué posible leer su huella<br> Intente nuevamente</h1>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <div class="footer-buttons">
      <p-button label="Cancelar" [rounded]="true" severity="danger" (click)="cancel()" />
      <p-button label="Continuar" [rounded]="true" severity="success" (click)="continue()" />
    </div>
  </ng-template>
</p-dialog>
